<%-include("header")-%>
    <h1 class="my=4">Amazin</h1><br/>
    <small class="h4">The Amazin online store</small>
    <p>Welcome to BLOG SPOT. You can find many interesting articles.
        The one stop destination for many articles.
    </p>
        <p>Author:Prakitha</p>
        <p>
            Tech stack:
            <ul>
                <li>Prakitha</li>
                <li>Samrudh</li>
            </ul>
        </p>
<%-include("footer")-%>